//$theme-1: #774F38;
//$theme-2: #E08E79;
//$theme-3: #F1D4AF;
//$theme-4: #ECE5CE;
//$theme-5: #C5E0DC;

// color scheme: http://www.colourlovers.com/palette/443995/i_demand_a_pancake
$theme-1: #594F4F;
$theme-2: #547980;
$theme-3: #45ADA8;
$theme-4: #9DE0AD;
$theme-5: #E5FCC2;

$color-body-main: #fdfdfd;
$color-header-main: #fff8ee;
$color-header-border: $theme-1;
$color-text-light: #fff8ee;
$color-header-text-border: $theme-4;

$color-section-text: $theme-2;
$color-section-title-underline: $theme-2;

$color-section-spanner: $theme-5;
$color-section-spanner-text: $theme-1;
$color-section-quote-text: $theme-1;
$color-section-quote: $theme-4;
$color-spanner-border: $theme-4;

$color-icon: $theme-4;
$color-icon-border: $theme-3;

